body {
    font-family: Open Sans Condensed;
    padding: 20px 80px;
}

a {
    text-decoration: none;
    color: black;
}

/*//NOTE: The '*' is the universal selector, this will remove extra padding of the input border fields*/
* {
    box-sizing: border-box;
}